@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-background: #ffffff;
    --color-ink: #343028;
    --color-line: #d4d4d4;
    --color-accent: #f5f5f5;
}

body {
    background: var(--color-background);
    color: var(--color-ink);
    font-family: Pretendard, Helvetica, sans-serif;
}
